streamlit
statsbombpy
pandas
numpy
matplotlib
requests
requests_cache
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openpyxl
fpdf
reportlab
adjustText
xlsxwriter
plotly
seaborn
base64
uuid
